h1{
    color:#1e3a5f;
    margin-bottom:20px;
}

h2{
    color:#555;
}

button{
    margin-top:30px;
    padding:15px 30px;
    background:linear-gradient(to right,#10b981,#34d399);
    color:white;
    border:none;
    border-radius:15px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    transform:scale(1.05);
}

:host{
    display:block;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}