.container{
    width: 90%;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.post-card{
    background: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.post-card h2{
    color: #1e3c72;
}

.post-card p{
    color: #333;
    line-height: 1.6;
}

button{
    background: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}